<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link rel="stylesheet" href="https://webresources.marqandrew.repl.co/css/style.css" type="text/css" />
</head>

<body>  
<div style="width:800px; margin:0 auto;" >
  <div>
  <h1> File upload Using Formidable </h1>
    <form action="/upload" enctype="multipart/form-data" method="post">
      <!--<div>Text field title: <input type="text" name="title" /></div> --> 
      <div>File: <input type="file" name="myfiles" multiple="multiple" /></div>
      <input type="submit" value="Upload" />
    </form>
</div>
</body>
</html>